target
kestrel.tmproj
dist
*.class
.manager
.DS_Store
*.sw?
ignore/
*.iml
.idea/
.classpath
.project
.scala_dependencies
.settings/
go
kestrel.sublime-*
kcluster-*.gem
.ensime
.ensime/
.ensime_lucene/