target
kestrel.tmproj
dist
*.class
.manager
.DS_Store
*.sw?
project/boot/
project/plugins/lib_managed/
project/plugins/src_managed/
project/plugins/project/
lib_managed/
ignore/
*.iml
.idea/
.classpath
.project
.scala_dependencies
.settings/
go
kestrel.sublime-*
kcluster-*.gem
